In [1]:
import pandas as pd
import numpy as np
from IPython.display import display
import datatable
import matplotlib.pyplot as plt
import os
import glob
import datatable
from matplotlib import rc
rc('font', family='AppleGothic')
plt.rcParams['axes.unicode_minus'] = False
import seaborn as sns
pd.set_option("display.max.columns", None)

In [2]:
path_data = '/home/khl256/Studio/VitalDB/Time_Series/Data/'
data_list = glob.glob(os.path.join(path_data, '*csv'))
print(data_list)

['/home/khl256/Studio/VitalDB/Time_Series/Data/ward_vital.csv', '/home/khl256/Studio/VitalDB/Time_Series/Data/lab.csv', '/home/khl256/Studio/VitalDB/Time_Series/Data/trks_kohi_team3.csv', '/home/khl256/Studio/VitalDB/Time_Series/Data/clinical_kohi_team3.csv']

In [3]:
df_cli_info = datatable.fread('/home/khl256/Studio/VitalDB/Time_Series/Data/clinical_kohi_team3.csv', na_strings=['']).to_pandas()
df_cli_info.head()

,caseid,opid,caseend,anestart,aneend,andur,opstart,opend,opdur,adm,dis,death_time,death_inhosp,emop,opname,dx,age,sex,weight,height,department,position,ane_type,cormack,airway,dltubesize,lmasize,tubesize,preop_hb,preop_hct,preop_plt,preop_bun,preop_cr,preop_pt,preop_ptt,preop_alb,preop_got,preop_gpt,preop_na,preop_k,preop_tnt,preop_tni,preop_sat,preop_glu,preop_be,preop_pao2,preop_paco2,preop_hco3,preop_ph,htn,dm,tb,liver_dz,copd,asthma,heart_dz,thyroid_dz,renal_dz,hematologic_dz,vascular_dz,neurologic_dz,other_dz,pregnancy,obesity,asa,sum_urine_output,sum_ebl,sum_crystalloid,sum_colloid,sum_fluid,sum_rbc,sum_ffp,sum_plt,sum_cryo,sum_phe,sum_eph,sum_epi,sum_ncd,sum_ntg
0,1,160804075,11520.0,-540.0,10860.0,11400.0,1680.0,10380.0,8700.0,-236220.0,627780.0,NaN,False,False,"Low anterior resection, ileostomy",Rectal cancer,77.00,M,65.50,160.2,GS,lithotomy,General,I,oral,NaN,NaN,7.5,14.1,40.4,189.0,10.0,0.82,94.0,33.2,4.3,18.0,16.0,141.0,3.1,NaN,NaN,NaN,134.0,NaN,NaN,NaN,NaN,NaN,True,True,False,False,False,False,False,False,False,False,False,False,False,False,False,2.0,300.0,NaN,350.0,0,350.0,0.0,0.0,0.0,0,0.0,10.0,0.0,0.0,0.0
1,2,170619080,15720.0,-1020.0,14940.0,15960.0,1740.0,14640.0,12900.0,-221160.0,1506840.0,NaN,False,False,Subtotal gastrectomy (Billroth II) ( with stan...,Advanced gastric cancer,54.90,M,62.55,166.8,GS,supine,General,I,oral,NaN,NaN,7.5,10.2,32.5,251.0,14.0,0.86,110.0,31.9,3.8,18.0,15.0,143.0,4.7,NaN,NaN,NaN,88.0,NaN,NaN,NaN,NaN,NaN,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,2.0,700.0,50.0,800.0,0,800.0,0.0,0.0,0.0,0,0.0,20.0,0.0,0.0,0.0
2,3,160920076,4440.0,-540.0,4260.0,4800.0,1140.0,3960.0,2820.0,-218640.0,40560.0,NaN,False,False,Laparoscopic cholecystectomy,Symptomatic gallbladder stone without obstruction,62.00,M,69.70,169.1,GS,rev Trendelenburg,General,I,oral,NaN,NaN,7.5,14.2,43.1,373.0,14.0,1.18,103.0,30.3,4.2,17.0,34.0,144.0,4.9,NaN,NaN,NaN,87.0,NaN,NaN,NaN,NaN,NaN,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,1.0,NaN,0.0,200.0,0,200.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0
3,4,161223031,21000.0,-720.0,20280.0,21000.0,2580.0,18180.0,15600.0,-201120.0,576480.0,NaN,False,False,TLDG (Totally laparoscopic distal gastrectomy)...,Advanced gastric cancer,74.52,M,50.60,159.8,GS,rev Trendelenburg,General,I,oral,NaN,NaN,NaN,14.4,42.4,275.0,10.0,0.96,103.0,34.5,4.1,23.0,18.0,141.0,4.2,NaN,NaN,NaN,108.0,NaN,NaN,NaN,NaN,NaN,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,2.0,270.0,NaN,2700.0,0,2700.0,0.0,0.0,0.0,0,0.0,50.0,0.0,0.0,0.0
4,5,170220120,21540.0,-960.0,22440.0,23400.0,2640.0,21840.0,19200.0,-67560.0,3734040.0,NaN,False,True,"Resection of aneurysm, abdominal aorta + bilat...",Aortic aneurysm,66.10,M,59.70,171.0,GS,prone,General,I,oral,NaN,NaN,7.5,15.3,45.2,158.0,27.0,1.83,73.0,36.5,4.6,64.0,30.0,139.0,4.9,NaN,0.05,NaN,140.0,NaN,NaN,NaN,NaN,NaN,True,False,False,False,False,False,True,False,False,False,True,False,False,False,False,3.0,1490.0,2600.0,7100.0,0,7100.0,8.0,8.0,0.0,0,900.0,10.0,0.0,0.0,0.0

In [4]:
df_vital = datatable.fread('/home/khl256/Studio/VitalDB/Time_Series/Data/ward_vital.csv', na_strings=['']).to_pandas()

In [5]:
df_tmp = df_vital.pivot_table(index=['caseid', 'dt'], columns=['par_name'], values='val')
df_tmp.columns.name = None
df_vital_pivoted = df_tmp.reset_index()
df_vital_pivoted.head()

   caseid      dt  ABP_SBP    BT   DBP    HR  MBP    RR    SBP  SPO2
0       1 -175020      NaN  36.6  81.0  89.0  NaN  20.0  141.0   NaN
1       1 -160620      NaN  36.3  80.0  81.0  NaN  20.0  157.0   NaN
2       1 -149820      NaN  36.3  67.0  89.0  NaN  20.0  139.0   NaN
3       1 -131820      NaN   NaN   NaN   NaN  NaN  20.0    NaN   NaN
4       1 -117420      NaN  36.4  70.0  80.0  NaN  20.0  140.0   NaN

In [6]:
df_merged = pd.merge(df_vital_pivoted, df_cli_info[['caseid', 'caseend', 'anestart', 'aneend', 'andur', 'opstart', 'opend', 'opdur', 'death_time', 'death_inhosp']])

In [7]:
df_filterd  = df_merged[df_merged['dt'] > df_merged['caseend']].reset_index(drop=True)

In [8]:
df_filterd['time'] = df_filterd['dt'] - df_filterd['caseend']
df_filterd['delta_time_death'] = df_filterd['death_time'] - df_filterd['dt']
df_filterd['delta_hour_death'] = df_filterd['delta_time_death'] / (60*60)
df_filterd['delta_date_death'] = df_filterd['delta_time_death'] / (60*60*24)
df_filterd.drop(columns=['ABP_SBP', 'MBP'], inplace=True)
df_filterd = df_filterd.sort_values(['caseid', 'dt']).reset_index(drop=True)
df_filterd.head()

,caseid,dt,BT,DBP,HR,RR,SBP,SPO2,caseend,anestart,aneend,andur,opstart,opend,opdur,death_time,death_inhosp,time,delta_time_death,delta_hour_death,delta_date_death
0,1,11580,NaN,NaN,92.0,NaN,NaN,100.0,11520.0,-540.0,10860.0,11400.0,1680.0,10380.0,8700.0,NaN,False,60.0,NaN,NaN,NaN
1,1,11700,NaN,67.0,90.0,NaN,153.0,100.0,11520.0,-540.0,10860.0,11400.0,1680.0,10380.0,8700.0,NaN,False,180.0,NaN,NaN,NaN
2,1,11880,NaN,77.0,88.0,16.0,166.0,100.0,11520.0,-540.0,10860.0,11400.0,1680.0,10380.0,8700.0,NaN,False,360.0,NaN,NaN,NaN
3,1,12180,NaN,71.0,84.0,NaN,152.0,100.0,11520.0,-540.0,10860.0,11400.0,1680.0,10380.0,8700.0,NaN,False,660.0,NaN,NaN,NaN
4,1,12480,NaN,72.0,80.0,NaN,164.0,100.0,11520.0,-540.0,10860.0,11400.0,1680.0,10380.0,8700.0,NaN,False,960.0,NaN,NaN,NaN

from tqdm.notebook import tqdm
tqdm.pandas()
df_filterd.groupby(['caseid']).progress_apply(lambda x: x['dt'].sort_values(ascending=True))

In [40]:
tmp.head()

,caseid,time,BT,DBP,HR,RR,SBP,SPO2,death_time,death_inhosp,timestamp
0,1,60.0,NaN,NaN,92.0,NaN,NaN,100.0,NaN,False,0.0
1,1,180.0,NaN,67.0,90.0,NaN,153.0,100.0,NaN,False,120.0
2,1,360.0,NaN,77.0,88.0,16.0,166.0,100.0,NaN,False,300.0
3,1,660.0,NaN,71.0,84.0,NaN,152.0,100.0,NaN,False,600.0
4,1,960.0,NaN,72.0,80.0,NaN,164.0,100.0,NaN,False,900.0

In [93]:
tmp = df_filterd[['caseid', 'time','BT', 'DBP', 'HR', 'RR', 'SBP', 'SPO2', 'death_time', 'death_inhosp']]
tmp['timestamp'] = tmp.groupby(['caseid'])['time'].transform(lambda x: x - x.min())
tmp = pd.merge(tmp.drop(columns=['death_time']), tmp.groupby(['caseid']).apply(lambda x: x['death_time'] - x['time'].min()).reset_index(drop=True), left_index=True, right_index=True)
tmp

/home/khl256/anaconda3/envs/deeplearning/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,caseid,time,BT,DBP,HR,RR,SBP,SPO2,death_inhosp,timestamp,death_time
0,1,60.0,NaN,NaN,92.0,NaN,NaN,100.0,False,0.0,NaN
1,1,180.0,NaN,67.0,90.0,NaN,153.0,100.0,False,120.0,NaN
2,1,360.0,NaN,77.0,88.0,16.0,166.0,100.0,False,300.0,NaN
3,1,660.0,NaN,71.0,84.0,NaN,152.0,100.0,False,600.0,NaN
4,1,960.0,NaN,72.0,80.0,NaN,164.0,100.0,False,900.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...
2404179,50344,304020.0,36.6,73.0,55.0,18.0,117.0,NaN,False,303900.0,NaN
2404180,50344,390420.0,36.9,68.0,52.0,18.0,108.0,NaN,False,390300.0,NaN
2404181,50344,419220.0,36.6,57.0,86.0,18.0,96.0,97.0,False,419100.0,NaN
2404182,50344,451620.0,36.9,69.0,72.0,18.0,105.0,NaN,False,451500.0,NaN
2404183,50344,678420.0,36.5,76.0,59.0,18.0,116.0,NaN,False,678300.0,NaN

In [94]:
tmp['delta_time'] = tmp.groupby(['caseid'])['timestamp'].transform(pd.Series.diff)
tmp.loc[tmp['delta_time'].isnull(), 'delta_time'] = 0
tmp['delta_time_win_sum'] = tmp.groupby(['caseid'])['delta_time'].transform(lambda x: x.rolling(window=2).sum())
tmp.loc[tmp['delta_time_win_sum'].isnull(), 'delta_time_win_sum'] = 0
for i in ['BT', 'DBP', 'HR', 'RR', 'SBP', 'SPO2']:
    tmp.loc[tmp[i].isnull(), i + '_time_interval']  = tmp.loc[tmp[i].isnull(), ['delta_time', 'delta_time_win_sum']].sum(axis=1)
    tmp.loc[tmp[i].notnull(), i + '_time_interval']  = tmp.loc[tmp[i].notnull(), 'delta_time']

In [95]:
tmp

,caseid,time,BT,DBP,HR,RR,SBP,SPO2,death_inhosp,timestamp,death_time,delta_time,delta_time_win_sum,BT_time_interval,DBP_time_interval,HR_time_interval,RR_time_interval,SBP_time_interval,SPO2_time_interval
0,1,60.0,NaN,NaN,92.0,NaN,NaN,100.0,False,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,180.0,NaN,67.0,90.0,NaN,153.0,100.0,False,120.0,NaN,120.0,120.0,240.0,120.0,120.0,240.0,120.0,120.0
2,1,360.0,NaN,77.0,88.0,16.0,166.0,100.0,False,300.0,NaN,180.0,300.0,480.0,180.0,180.0,180.0,180.0,180.0
3,1,660.0,NaN,71.0,84.0,NaN,152.0,100.0,False,600.0,NaN,300.0,480.0,780.0,300.0,300.0,780.0,300.0,300.0
4,1,960.0,NaN,72.0,80.0,NaN,164.0,100.0,False,900.0,NaN,300.0,600.0,900.0,300.0,300.0,900.0,300.0,300.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2404179,50344,304020.0,36.6,73.0,55.0,18.0,117.0,NaN,False,303900.0,NaN,86400.0,172800.0,86400.0,86400.0,86400.0,86400.0,86400.0,259200.0
2404180,50344,390420.0,36.9,68.0,52.0,18.0,108.0,NaN,False,390300.0,NaN,86400.0,172800.0,86400.0,86400.0,86400.0,86400.0,86400.0,259200.0
2404181,50344,419220.0,36.6,57.0,86.0,18.0,96.0,97.0,False,419100.0,NaN,28800.0,115200.0,28800.0,28800.0,28800.0,28800.0,28800.0,28800.0
2404182,50344,451620.0,36.9,69.0,72.0,18.0,105.0,NaN,False,451500.0,NaN,32400.0,61200.0,32400.0,32400.0,32400.0,32400.0,32400.0,93600.0
2404183,50344,678420.0,36.5,76.0,59.0,18.0,116.0,NaN,False,678300.0,NaN,226800.0,259200.0,226800.0,226800.0,226800.0,226800.0,226800.0,486000.0

## Sequance Data Generation

In [96]:
test = tmp[tmp.caseid == 50233]

In [97]:
i = 0
test[(test['timestamp'] >= i*60*60) & (test['timestamp'] <= (i + 24)*60*60)]

,caseid,time,BT,DBP,HR,RR,SBP,SPO2,death_inhosp,timestamp,death_time,delta_time,delta_time_win_sum,BT_time_interval,DBP_time_interval,HR_time_interval,RR_time_interval,SBP_time_interval,SPO2_time_interval
2399898,50233,240.0,36.3,28.0,96.0,24.0,138.0,94.0,True,0.0,1949100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2399899,50233,300.0,NaN,38.0,NaN,26.0,63.0,71.0,True,60.0,1949100.0,60.0,60.0,120.0,60.0,120.0,60.0,60.0,60.0
2399900,50233,360.0,NaN,46.0,118.0,18.0,66.0,82.0,True,120.0,1949100.0,60.0,120.0,180.0,60.0,60.0,60.0,60.0,60.0
2399901,50233,480.0,NaN,44.0,116.0,18.0,63.0,84.0,True,240.0,1949100.0,120.0,180.0,300.0,120.0,120.0,120.0,120.0,120.0
2399902,50233,540.0,NaN,42.0,116.0,18.0,100.0,89.0,True,300.0,1949100.0,60.0,180.0,240.0,60.0,60.0,60.0,60.0,60.0
2399903,50233,660.0,NaN,28.0,112.0,18.0,123.0,96.0,True,420.0,1949100.0,120.0,180.0,300.0,120.0,120.0,120.0,120.0,120.0
2399904,50233,1140.0,NaN,56.0,114.0,18.0,135.0,94.0,True,900.0,1949100.0,480.0,600.0,1080.0,480.0,480.0,480.0,480.0,480.0
2399905,50233,2040.0,NaN,50.0,106.0,24.0,102.0,100.0,True,1800.0,1949100.0,900.0,1380.0,2280.0,900.0,900.0,900.0,900.0,900.0
2399906,50233,2940.0,NaN,42.0,110.0,24.0,132.0,99.0,True,2700.0,1949100.0,900.0,1800.0,2700.0,900.0,900.0,900.0,900.0,900.0
2399907,50233,3840.0,NaN,44.0,110.0,24.0,120.0,100.0,True,3600.0,1949100.0,900.0,1800.0,2700.0,900.0,900.0,900.0,900.0,900.0
2399908,50233,4740.0,NaN,48.0,108.0,24.0,125.0,100.0,True,4500.0,1949100.0,900.0,1800.0,2700.0,900.0,900.0,900.0,900.0,900.0
2399909,50233,6540.0,NaN,52.0,108.0,24.0,133.0,100.0,True,6300.0,1949100.0,1800.0,2700.0,4500.0,1800.0,1800.0,1800.0,1800.0,1800.0
2399910,50233,7260.0,NaN,56.0,106.0,24.0,142.0,100.0,True,7020.0,1949100.0,720.0,2520.0,3240.0,720.0,720.0,720.0,720.0,720.0
2399911,50233,7380.0,36.5,72.0,106.0,NaN,142.0,100.0,True,7140.0,1949100.0,120.0,840.0,120.0,120.0,120.0,960.0,120.0,120.0
2399912,50233,7620.0,36.5,52.0,108.0,24.0,146.0,100.0,True,7380.0,1949100.0,240.0,360.0,240.0,240.0,240.0,240.0,240.0,240.0
2399913,50233,82140.0,37.1,38.0,148.0,31.0,104.0,87.0,True,81900.0,1949100.0,74520.0,74760.0,74520.0,74520.0,74520.0,74520.0,74520.0,74520.0
2399914,50233,82440.0,NaN,44.0,154.0,28.0,102.0,92.0,True,82200.0,1949100.0,300.0,74820.0,75120.0,300.0,300.0,300.0,300.0,300.0
2399915,50233,82500.0,NaN,54.0,NaN,NaN,100.0,NaN,True,82260.0,1949100.0,60.0,360.0,420.0,60.0,420.0,420.0,60.0,420.0
2399916,50233,82740.0,NaN,46.0,152.0,34.0,116.0,95.0,True,82500.0,1949100.0,240.0,300.0,540.0,240.0,240.0,240.0,240.0,240.0
2399917,50233,83040.0,NaN,44.0,152.0,36.0,108.0,95.0,True,82800.0,1949100.0,300.0,540.0,840.0,300.0,300.0,300.0,300.0,300.0
2399918,50233,83340.0,NaN,42.0,156.0,36.0,108.0,97.0,True,83100.0,1949100.0,300.0,600.0,900.0,300.0,300.0,300.0,300.0,300.0
2399919,50233,83760.0,NaN,38.0,160.0,NaN,62.0,94.0,True,83520.0,1949100.0,420.0,720.0,1140.0,420.0,420.0,1140.0,420.0,420.0
2399920,50233,83880.0,NaN,36.0,152.0,NaN,73.0,94.0,True,83640.0,1949100.0,120.0,540.0,660.0,120.0,120.0,660.0,120.0,120.0
2399921,50233,83940.0,NaN,34.0,132.0,31.0,82.0,92.0,True,83700.0,1949100.0,60.0,180.0,240.0,60.0,60.0,60.0,60.0,60.0
2399922,50233,84240.0,NaN,30.0,126.0,28.0,72.0,91.0,True,84000.0,1949100.0,300.0,360.0,660.0,300.0,300.0,300.0,300.0,300.0
2399923,50233,84840.0,NaN,42.0,136.0,34.0,104.0,96.0,True,84600.0,1949100.0,600.0,900.0,1500.0,600.0,600.0,600.0,600.0,600.0
2399924,50233,85140.0,NaN,40.0,124.0,22.0,106.0,96.0,True,84900.0,1949100.0,300.0,900.0,1200.0,300.0,300.0,300.0,300.0,300.0
2399925,50233,85740.0,NaN,42.0,122.0,24.0,119.0,95.0,True,85500.0,1949100.0,600.0,900.0,1500.0,600.0,600.0,600.0,600.0,600.0

In [98]:
int(test['timestamp'].max() // (60*60))

529

In [106]:
size = int(test['timestamp'].max()/(60*60))
np.zeros((size, None, 5))

TypeError: 'NoneType' object cannot be interpreted as an integer

In [110]:
case_list = set(tmp['caseid'])

In [114]:
from tqdm.notebook import tqdm
size = int(test['timestamp'].max()/(60*60))
list_event = []
list_tmp = []

for case_id in tqdm(case_list):
    test = tmp[tmp.caseid == case_id]
    for i in range(int(test['timestamp'].max()/(60*60))):
        df_tmp = test[(test['timestamp'] >= i*60*60) & (test['timestamp'] <= (i + 24)*60*60)]
        list_tmp.append(len(df_tmp))

HBox(children=(FloatProgress(value=0.0, max=46746.0), HTML(value='')))

In [132]:
list_tmp < 10

TypeError: '<' not supported between instances of 'list' and 'int'

In [ ]:
60*60*24 /

In [124]:
df_test = pd.DataFrame({'length':list_tmp})

In [133]:
(df_test['length'] < 10).sum()

7095806

In [130]:
len(df_test)

7775930

In [116]:
max(list_tmp)

1408

In [104]:
size = int(test['timestamp'].max()/(60*60))
list_event = np.zeros((1, size))
list_tmp = []

for i in range(int(test['timestamp'].max()/(60*60))):
    df_tmp = test[(test['timestamp'] >= i*60*60) & (test['timestamp'] <= (i + 24)*60*60)]
    array_tmp = df_tmp[['BT', 'DBP', 'HR', 'RR', 'SBP', 'SPO2']].values.T
    #df_tmp['']
    if (df_tmp['death_time'] - df_tmp['timestamp'].max()).unique() < 24*60*60:
        list_event.append(1)
    else:
        list_event.append(0)

TypeError: array() missing required argument 'object' (pos 1)

In [101]:
print(len(list_event))
print(int(test['timestamp'].max()/(60*60)))

529
529

In [102]:
df_tmp

,caseid,time,BT,DBP,HR,RR,SBP,SPO2,death_inhosp,timestamp,death_time,delta_time,delta_time_win_sum,BT_time_interval,DBP_time_interval,HR_time_interval,RR_time_interval,SBP_time_interval,SPO2_time_interval
2400046,50233,1903020.0,36.2,18.0,70.0,25.0,48.0,100.0,True,1902780.0,1949100.0,2880.0,6480.0,2880.0,2880.0,2880.0,2880.0,2880.0,2880.0
2400047,50233,1903740.0,36.2,20.0,74.0,25.0,52.0,100.0,True,1903500.0,1949100.0,720.0,3600.0,720.0,720.0,720.0,720.0,720.0,720.0
2400048,50233,1905540.0,36.2,20.0,68.0,25.0,48.0,100.0,True,1905300.0,1949100.0,1800.0,2520.0,1800.0,1800.0,1800.0,1800.0,1800.0,1800.0
2400049,50233,1906860.0,36.2,18.0,70.0,25.0,48.0,100.0,True,1906620.0,1949100.0,1320.0,3120.0,1320.0,1320.0,1320.0,1320.0,1320.0,1320.0
2400050,50233,1907340.0,36.2,10.0,70.0,25.0,44.0,100.0,True,1907100.0,1949100.0,480.0,1800.0,480.0,480.0,480.0,480.0,480.0,480.0

In [105]:
df_tmp[['BT', 'DBP', 'HR', 'RR', 'SBP', 'SPO2']].values.T.shape

(6, 5)

In [78]:
tmp[tmp['death_inhosp'] == 1]

,caseid,time,BT,DBP,HR,RR,SBP,SPO2,death_inhosp,timestamp,death_time
14680,264,300.0,NaN,45.0,154.0,22.0,65.0,100.0,True,0.0,3202200.0
14681,264,900.0,NaN,36.0,162.0,23.0,52.0,100.0,True,600.0,3202200.0
14682,264,1200.0,NaN,38.0,NaN,23.0,52.0,100.0,True,900.0,3202200.0
14683,264,2100.0,NaN,52.0,132.0,47.0,72.0,92.0,True,1800.0,3202200.0
14684,264,2220.0,NaN,NaN,74.0,NaN,NaN,90.0,True,1920.0,3202200.0
...,...,...,...,...,...,...,...,...,...,...,...
2400046,50233,1903020.0,36.2,18.0,70.0,25.0,48.0,100.0,True,1902780.0,1949100.0
2400047,50233,1903740.0,36.2,20.0,74.0,25.0,52.0,100.0,True,1903500.0,1949100.0
2400048,50233,1905540.0,36.2,20.0,68.0,25.0,48.0,100.0,True,1905300.0,1949100.0
2400049,50233,1906860.0,36.2,18.0,70.0,25.0,48.0,100.0,True,1906620.0,1949100.0
2400050,50233,1907340.0,36.2,10.0,70.0,25.0,44.0,100.0,True,1907100.0,1949100.0

In [ ]:
tmp[tmp['time']]

In [10]:
tmp[tmp['caseid'] == 50344]

         caseid      time    BT   DBP    HR    RR    SBP  SPO2
2404168   50344     120.0   NaN   NaN  56.0   NaN    NaN   NaN
2404169   50344     420.0   NaN   NaN  50.0   NaN    NaN   NaN
2404170   50344     720.0   NaN   NaN  48.0   NaN    NaN   NaN
2404171   50344    1020.0   NaN   NaN  50.0   NaN    NaN   NaN
2404172   50344    1320.0   NaN   NaN  46.0   NaN    NaN   NaN
2404173   50344    1620.0   NaN   NaN  44.0   NaN    NaN   NaN
2404174   50344    1920.0   NaN   NaN  44.0   NaN    NaN   NaN
2404175   50344    2220.0   NaN   NaN  44.0   NaN    NaN   NaN
2404176   50344   44820.0  37.4  70.0  60.0  18.0  112.0   NaN
2404177   50344  131220.0  37.2  79.0  76.0  18.0  122.0   NaN
2404178   50344  217620.0  37.1  68.0  64.0  18.0  115.0  97.0
2404179   50344  304020.0  36.6  73.0  55.0  18.0  117.0   NaN
2404180   50344  390420.0  36.9  68.0  52.0  18.0  108.0   NaN
2404181   50344  419220.0  36.6  57.0  86.0  18.0   96.0  97.0
2404182   50344  451620.0  36.9  69.0  72.0  18.0  105.0   NaN
2404183   50344  678420.0  36.5  76.0  59.0  18.0  116.0   NaN

In [61]:
tmp['delta_time'] = tmp.groupby(['caseid'])['timestamp'].transform(pd.Series.diff)
tmp.loc[tmp['delta_time'].isnull(), 'delta_time'] = 0
tmp['delta_time_win_sum'] = tmp.groupby(['caseid'])['delta_time'].transform(lambda x: x.rolling(window=2).sum())
tmp.loc[tmp['delta_time_win_sum'].isnull(), 'delta_time_win_sum'] = 0

/home/khl256/anaconda3/envs/deeplearning/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/home/khl256/anaconda3/envs/deeplearning/lib/python3.7/site-packages/pandas/core/indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s
/home/khl256/anaconda3/envs/deeplearning/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [76]:
for i in ['BT', 'DBP', 'HR', 'RR', 'SBP', 'SPO2']:
    tmp.loc[tmp[i].isnull(), i + '_time_interval']  = tmp.loc[tmp[i].isnull(), ['delta_time', 'delta_time_win_sum']].sum(axis=1)
    tmp.loc[tmp[i].notnull(), i + '_time_interval']  = tmp.loc[tmp[i].notnull(), 'delta_time']

In [63]:
tmp.loc[tmp['BT'].isnull()]

,caseid,time,BT,DBP,HR,RR,SBP,SPO2,timestamp,time_interval_BT,delta_time,delta_time_win_sum
0,1,60.0,NaN,NaN,92.0,NaN,NaN,100.0,0.0,0.0,0.0,0.0
1,1,180.0,NaN,67.0,90.0,NaN,153.0,100.0,120.0,120.0,120.0,120.0
2,1,360.0,NaN,77.0,88.0,16.0,166.0,100.0,300.0,300.0,180.0,300.0
3,1,660.0,NaN,71.0,84.0,NaN,152.0,100.0,600.0,600.0,300.0,480.0
4,1,960.0,NaN,72.0,80.0,NaN,164.0,100.0,900.0,900.0,300.0,600.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2404171,50344,1020.0,NaN,NaN,50.0,NaN,NaN,NaN,900.0,900.0,300.0,600.0
2404172,50344,1320.0,NaN,NaN,46.0,NaN,NaN,NaN,1200.0,1200.0,300.0,600.0
2404173,50344,1620.0,NaN,NaN,44.0,NaN,NaN,NaN,1500.0,1500.0,300.0,600.0
2404174,50344,1920.0,NaN,NaN,44.0,NaN,NaN,NaN,1800.0,1800.0,300.0,600.0
2404175,50344,2220.0,NaN,NaN,44.0,NaN,NaN,NaN,2100.0,2100.0,300.0,600.0

In [82]:
tmp['delta_time'].value_counts().reset_index().to_excel('tmp.xlsx', index=False)

In [60]:
tmp.groupby(['caseid'])['delta_time'].rolling(window=2).sum()

caseid
1       0               NaN
        1             120.0
        2             300.0
        3             480.0
        4             600.0
                     ...
50344   2404179    172800.0
        2404180    172800.0
        2404181    115200.0
        2404182     61200.0
        2404183    259200.0
Name: delta_time, Length: 2404184, dtype: float64

In [135]:
test.rolling(window=2).sum()
#tmp.groupby(['caseid'])['delta_time'].transform(lambda x: x.rolling(window=2).sum())

,caseid,time,BT,DBP,HR,RR,SBP,SPO2,death_inhosp,timestamp,death_time,delta_time,delta_time_win_sum,BT_time_interval,DBP_time_interval,HR_time_interval,RR_time_interval,SBP_time_interval,SPO2_time_interval
2404168,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2404169,100688.0,540.0,NaN,NaN,106.0,NaN,NaN,NaN,0.0,300.0,NaN,300.0,300.0,600.0,600.0,300.0,600.0,600.0,600.0
2404170,100688.0,1140.0,NaN,NaN,98.0,NaN,NaN,NaN,0.0,900.0,NaN,600.0,900.0,1500.0,1500.0,600.0,1500.0,1500.0,1500.0
2404171,100688.0,1740.0,NaN,NaN,98.0,NaN,NaN,NaN,0.0,1500.0,NaN,600.0,1200.0,1800.0,1800.0,600.0,1800.0,1800.0,1800.0
2404172,100688.0,2340.0,NaN,NaN,96.0,NaN,NaN,NaN,0.0,2100.0,NaN,600.0,1200.0,1800.0,1800.0,600.0,1800.0,1800.0,1800.0
2404173,100688.0,2940.0,NaN,NaN,90.0,NaN,NaN,NaN,0.0,2700.0,NaN,600.0,1200.0,1800.0,1800.0,600.0,1800.0,1800.0,1800.0
2404174,100688.0,3540.0,NaN,NaN,88.0,NaN,NaN,NaN,0.0,3300.0,NaN,600.0,1200.0,1800.0,1800.0,600.0,1800.0,1800.0,1800.0
2404175,100688.0,4140.0,NaN,NaN,88.0,NaN,NaN,NaN,0.0,3900.0,NaN,600.0,1200.0,1800.0,1800.0,600.0,1800.0,1800.0,1800.0
2404176,100688.0,47040.0,NaN,NaN,104.0,NaN,NaN,NaN,0.0,46800.0,NaN,42900.0,43500.0,43500.0,43500.0,42900.0,43500.0,43500.0,86400.0
2404177,100688.0,176040.0,74.6,149.0,136.0,36.0,234.0,NaN,0.0,175800.0,NaN,129000.0,171900.0,129000.0,129000.0,129000.0,129000.0,129000.0,300900.0
2404178,100688.0,348840.0,74.3,147.0,140.0,36.0,237.0,NaN,0.0,348600.0,NaN,172800.0,301800.0,172800.0,172800.0,172800.0,172800.0,172800.0,301800.0
2404179,100688.0,521640.0,73.7,141.0,119.0,36.0,232.0,NaN,0.0,521400.0,NaN,172800.0,345600.0,172800.0,172800.0,172800.0,172800.0,172800.0,345600.0
2404180,100688.0,694440.0,73.5,141.0,107.0,36.0,225.0,NaN,0.0,694200.0,NaN,172800.0,345600.0,172800.0,172800.0,172800.0,172800.0,172800.0,518400.0
2404181,100688.0,809640.0,73.5,125.0,138.0,36.0,204.0,NaN,0.0,809400.0,NaN,115200.0,288000.0,115200.0,115200.0,115200.0,115200.0,115200.0,288000.0
2404182,100688.0,870840.0,73.5,126.0,158.0,36.0,201.0,NaN,0.0,870600.0,NaN,61200.0,176400.0,61200.0,61200.0,61200.0,61200.0,61200.0,122400.0
2404183,100688.0,1130040.0,73.4,145.0,131.0,36.0,221.0,NaN,0.0,1129800.0,NaN,259200.0,320400.0,259200.0,259200.0,259200.0,259200.0,259200.0,579600.0

In [141]:
df_test = tmp[tmp['death_inhosp'] == 1]

In [138]:
len(set(test['caseid']))

360

In [140]:
test['death_time']

,caseid,time,BT,DBP,HR,RR,SBP,SPO2,death_inhosp,timestamp,death_time,delta_time,delta_time_win_sum,BT_time_interval,DBP_time_interval,HR_time_interval,RR_time_interval,SBP_time_interval,SPO2_time_interval
14680,264,300.0,NaN,45.0,154.0,22.0,65.0,100.0,True,0.0,3202200.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14681,264,900.0,NaN,36.0,162.0,23.0,52.0,100.0,True,600.0,3202200.0,600.0,600.0,1200.0,600.0,600.0,600.0,600.0,600.0
14682,264,1200.0,NaN,38.0,NaN,23.0,52.0,100.0,True,900.0,3202200.0,300.0,900.0,1200.0,300.0,1200.0,300.0,300.0,300.0
14683,264,2100.0,NaN,52.0,132.0,47.0,72.0,92.0,True,1800.0,3202200.0,900.0,1200.0,2100.0,900.0,900.0,900.0,900.0,900.0
14684,264,2220.0,NaN,NaN,74.0,NaN,NaN,90.0,True,1920.0,3202200.0,120.0,1020.0,1140.0,1140.0,120.0,1140.0,1140.0,120.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2400046,50233,1903020.0,36.2,18.0,70.0,25.0,48.0,100.0,True,1902780.0,1949100.0,2880.0,6480.0,2880.0,2880.0,2880.0,2880.0,2880.0,2880.0
2400047,50233,1903740.0,36.2,20.0,74.0,25.0,52.0,100.0,True,1903500.0,1949100.0,720.0,3600.0,720.0,720.0,720.0,720.0,720.0,720.0
2400048,50233,1905540.0,36.2,20.0,68.0,25.0,48.0,100.0,True,1905300.0,1949100.0,1800.0,2520.0,1800.0,1800.0,1800.0,1800.0,1800.0,1800.0
2400049,50233,1906860.0,36.2,18.0,70.0,25.0,48.0,100.0,True,1906620.0,1949100.0,1320.0,3120.0,1320.0,1320.0,1320.0,1320.0,1320.0,1320.0
2400050,50233,1907340.0,36.2,10.0,70.0,25.0,44.0,100.0,True,1907100.0,1949100.0,480.0,1800.0,480.0,480.0,480.0,480.0,480.0,480.0

In [159]:
case_list = set(df_test)

from tqdm.notebook import tqdm
size = int(df_test['timestamp'].max()/(60*60))
list_event = []
list_tmp = []

for case_id in tqdm(case_list):
    test = df_test[df_test.caseid == case_id]
    for i in range(int(test['timestamp'].max()/(60*60))):
        df_tmp = test[(test['timestamp'] >= i*60*60) & (test['timestamp'] <= (i + 24)*60*60)]
        list_tmp.append(len(df_tmp))

HBox(children=(FloatProgress(value=0.0, max=19.0), HTML(value='')))

/home/khl256/anaconda3/envs/deeplearning/lib/python3.7/site-packages/pandas/core/ops/array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)

ValueError: cannot convert float NaN to integer

In [158]:
int(df_test[df_test.caseid == 264]['timestamp'].max()/60/60)

719

In [147]:
df_test[df_test == 264]

,caseid,time,BT,DBP,HR,RR,SBP,SPO2,death_inhosp,timestamp,death_time,delta_time,delta_time_win_sum,BT_time_interval,DBP_time_interval,HR_time_interval,RR_time_interval,SBP_time_interval,SPO2_time_interval
14680,264.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14681,264.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14682,264.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14683,264.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14684,264.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2400046,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2400047,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2400048,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2400049,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2400050,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN